<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString-old" value="Data Source=timefliesby.db.4304747.hostedresource.com;Initial Catalog=TimeFliesBy;User ID=timefliesby;password=chucRu24" />
    <add key="ConnectionString" value="Data Source=tcp:ttq8asu8fr.database.windows.net,1433;Initial Catalog=timefliesby;User ID=timefliesby@ttq8asu8fr;Password=chucRu24" />
    <add key="Url" value="http://www.timeflies.by" />
    <add key="IP" value="www.timeflies.by" />
    <add key="MailFromAddress" value="noreply@timeflies.by" />
    <add key="ContactEmailAddress" value="victor@jobs.ie" />
    <add key="ContentPath" value="D:\Hosting\4304747\html\TimeFliesBy\contents" />
    <add key="ContentUrl" value="http://www.timeflies.by/contents" />
    <add key="FBPageId" value="201198779910247" />
    <add key="UserImagesLocalPath" value="D:\Hosting\4304747\html\TimeFliesBy\contents\UserImages" />
    <add key="FBAppId" value="184377024931642" />
    <add key="FBSecret" value="63e46ff195b8b290463a44b9927117e5" />
    <!--    local developments
    <add key="FBKey" value="119551684790679"/>
    <add key="FBSecret" value="8ca7bafb8b53d75504669377740d81ec"/>
    -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="None">
      <forms cookieless="UseCookies" />
    </authentication>
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network">
        <network host="relay-hosting.secureserver.net" />
      </smtp>
    </mailSettings>
  </system.net>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <connectionStrings>
    <add name="TimeFliesByEntities" connectionString="metadata=res://*/App_Code.TimeFliesModel.csdl|res://*/App_Code.TimeFliesModel.ssdl|res://*/App_Code.TimeFliesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=TimeFliesBy;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EFConnectionString" connectionString="metadata=res://*/App_Code.TimeFliesModel.csdl|res://*/App_Code.TimeFliesModel.ssdl|res://*/App_Code.TimeFliesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:ttq8asu8fr.database.windows.net,1433;initial catalog=timefliesby;user id=timefliesby@ttq8asu8fr;password=chucRu24;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="TimeFliesBy.WebUI.Service">
        <endpoint address="" binding="wsHttpBinding" contract="TimeFliesBy.WebUI.IService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="" contract="TimeFliesBy.WebUI.IService" />
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Facebook" publicKeyToken="58cb4f2111d1e6de" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.10.0" newVersion="6.0.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>